stepfunction/employee-flow.json
{
  "Comment": "Employee Workflow",
  "StartAt": "ValidateJWT",
  "States": {

    "ValidateJWT": {
      "Type": "Task",
      "Resource": "${validateJwtArn}",
      "ResultPath": "$.auth",
      "Next": "CreateEmployee"
    },

    "CreateEmployee": {
      "Type": "Task",
      "Resource": "${createEmployeeArn}",
      "Parameters": {
        "body.$": "$.body",
        "user.$": "$.auth.user"
      },
      "ResultPath": "$.employee",
      "Next": "UploadImage"
    },

    "UploadImage": {
      "Type": "Task",
      "Resource": "${uploadImageArn}",
      "ResultPath": "$.upload",
      "Next": "UpdateEmployee"
    },

    "UpdateEmployee": {
      "Type": "Task",
      "Resource": "${updateEmployeeArn}",
      "End": true
    }
  }
}